body {
    background-color: #EEEEEE;
}

#layout_container {
    color: rgb(66, 103, 178);
    width: 500px;
    margin: 0px auto;
    text-align: center;
   font-family: Arial;
   
}

form {
    width: 100%;
    min-height: 400px;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0px 0px 4px lightgrey;
}

#single_input,
#two_inputs,
#three_inputs {
    display: flex;
}

#single_input input,
#two_inputs input {
    flex: 1;
    margin: 12px;
    padding: 12px;
}

#three_inputs input {
    width: 33%;
    margin: 12px;
    padding: 12px;
}

#button_container {
    text-align: center;
}

header {
    text-align: center;
}

main {
    color: black;

}

#year_id {
    width: 33%;
    margin: 12px;
   padding: 12px;
}

#date_id {
    width: 33%;
    margin: 12px;
    padding: 12px;
}

#month_id {
    width: 33%;
    margin: 12px;
    padding: 12px;
}

#radio_input1 {
    width: 33%;
    margin: 12px;
    padding: 12px;
    align-items: center; 
}

#radio_input2 {
    width: 33%;
    margin: 12px;
    padding: 12px;
    align-items: center;
}

#radio_input3 {
    width: 33%;
    margin: 12px;
    padding: 12px;
    align-items: center;
}


