table {
    border-collapse: collapse;
}

th, td {
    padding: 12px;
}

tr {
    border-bottom: 1px solid gray;
}

thead tr {
    background-color: rgb(23, 151, 128);
}

tbody tr:nth-child(even) {
    background-color: lightgray;
}

#thead_1 {
    font-family: Arial;
}

#tbody_1 {
    font-family: Arial;
}

#tr_1 {
    color: rgb(23, 151, 128);
}